@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-primary: #38bdf8;
  --color-secondary: #818cf8;
  --color-accent: #f43f5e;
  --color-bg-base: #020617;
  --color-bg-surface: #0f172a;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: var(--color-bg-base);
  color: #f8fafc;
  overflow-x: hidden;
}
